@media screen and (max-width:890px){

    //NAV
    nav{
        display: none;
    }
    nav.responsive{
        display: block;
        background-color: rgba(0,0,0 , .8);
        width: 100%;
        position: absolute;
        top: 44.49px;
        left: 0;
        padding:10px 0;
        
      
    }
    nav.responsive ul{
        display: block !important;
        
       
    }
    nav.responsive ul li{
        margin: 5px 0;
       
    }
    #icono-nav{
        display: block;
        margin-left: auto;
        
    }
  //INICIO

    #inicio .contenido .presentacion h2{
        font-size: 40px;
    }

    //SOBRE MÍ

    #sobremi {
        display: block!important;
        padding: 50px;
        background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7));
    }

    #sobremi .contenedor-foto{
       max-width: 200px;
        margin: auto!important;
    }
    #sobremi .contenedor-foto .mifoto{
        // object-fit: contain;
        padding: 8px;
    }
    #sobremi .sobremi .titulo-seccion{
        text-align: center;
        font-size: 18px;
        margin-top: 1rem!important;
    }

    #sobremi .sobremi .pres{
        font-size: 25px;
        text-align: center;
    }
    #sobremi .sobremi p{
        color: #fff;
        font-size:12px;
        text-align: center;
    }
    #sobremi .sobremi h3{
        text-align: center;
    }

    #sobremi .sobremi a{
        
        margin: auto;
    }
    video{
        display: none;
    }

   //CONTACTO
   #contacto{
    padding: 50px 15px;
   }

   #contacto .contenedor-form .mitad{
    margin-bottom: 15px;
    display: block;
   }

   #contacto .contenedor-form .mitad input{
    width: 100%;
    margin-bottom: 15px;
   }
}



