@import './outils';
// @import './header';
// @import './Home';
// @import './responsive';
// @import './portfolio';
// @import './Skills';
@import url('https://fonts.googleapis.com/css2?family=Peralta&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@1,300&display=swap');


// body{
//     background: $color1;
//     color: set-color($color1);
//     font-family: 'Poppins', sans-serif;
//     height: 100vh;
//     text-transform: capitalize;

// }

html{
    scroll-behavior: smooth;
}
/// Home

#inicio{
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("https://images.pond5.com/blue-programming-code-background-abstract-footage-090894338_prevstill.jpeg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
//HEADER
#inicio .contenido header{
    background-color: ($color1);
    
    width: 100%;
    z-index: 100;
    top: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#inicio .contenido header .contenido-header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#inicio .contenido header .contenido-header nav ul{
    list-style: none;
    display: flex;
    align-items: right;
}
#inicio .contenido header .contenido-header nav ul li a{
    text-decoration: none;
    color: #fff;
    margin: 0 12px;
    font-weight: 400;
    transition: .5s;
    
}

#inicio .contenido header .contenido-header nav ul a:hover{
    color: $color2;
}
#inicip .contenido .presentacion{
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    columns: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}