@import url("https://fonts.googleapis.com/css2?family=Peralta&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
}

a {
  color: #fff;
  text-decoration: none;
}

#inicio {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://images.pond5.com/blue-programming-code-background-abstract-footage-090894338_prevstill.jpeg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

#inicio .contenido header {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  z-index: 100;
  top: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#inicio .contenido header .contenido-header {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

#inicio .contenido header .contenido-header nav ul {
  list-style: none;
  display: flex;
  align-items: right;
  padding-top: 10px;
}

#inicio .contenido header .contenido-header nav ul li a {
  text-decoration: none;
  color: #fff;
  margin: 0 12px;
  font-weight: 400;
  transition: 0.5s;
}

#inicio .contenido header .contenido-header nav ul a:hover {
  color: #0FFE00;
}

#inicio .contenido .presentacion {
  max-width: 1100px;
  height: 100vh;
  margin: auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#inicio .contenido .presentacion .bienvenida {
  font-size: 16px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

#inicio .contenido .presentacion h2 {
  font-size: 35px;
  margin-bottom: 25px;
  text-align: center;
}

#inicio .contenido .presentacion h2 span {
  font-size: 55px;
  color: #0FFE00;
}

#inicio .contenido .presentacion .description {
  max-width: 700px;
  margin: 25px auto;
  font-size: 18px;
  text-align: center;
}

#inicio .contenido .presentacion a {
  text-decoration: none;
  display: inline-block;
  margin: 25px;
  padding: 20px 25px;
  border: 2px solid #fff;
  border-radius: 50px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.5s;
}

#inicio .contenido .presentacion a:hover {
  background-color: #0FFE00;
}

#icono-nav {
  color: #fff;
  display: none;
}

#inicio .contenido .contenido-header .logo {
  display: flex;
}

#portfolio {
  width: 100%;
  height: 100%;
}

video {
  width: 100%;
  z-index: -1;
  background-size: cover;
}

#portfolio .portfolio {
  width: 100%;
  height: 100%;
  margin-top: auto;
  right: 0;
  position: absolute;
  text-align: center;
  z-index: 1;
  justify-content: center;
  align-items: center;
}

#portfolio .portfolio .titulo-seccion {
  font-size: 22px;
  text-transform: uppercase;
  color: #111135;
  text-decoration: underline;
  text-decoration-color: #d3d3d3;
  text-decoration-thickness: 5px;
}

#portfolio .portfolio h2 {
  font-size: 34px;
  font-weight: bold;
  margin: 20px 0;
  letter-spacing: 2px;
}

#portfolio .portfolio h2 span {
  color: #0FFE00;
}

#portfolio .portfolio h3 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

#portfolio .portfolio p {
  font-size: 14px;
  line-height: 25px;
  color: #000;
  margin-bottom: 12px;
}

#portfolio .portfolio a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  padding: 10px 20px;
  border-radius: 30px;
  border: 1px solid #000;
  margin-top: 30px;
  transition: 0.5s;
}

#portfolio .portfolio a:hover {
  background-color: #242424;
  color: #0FFE00;
}

#tecnologias {
  padding: 100px 15px;
  text-align: center;
  background-color: #f3f3f3;
}

#tecnologias h3 {
  text-align: center;
  justify-content: center;
  margin: 10px;
  font-size: 22px;
  text-decoration: underline;
  text-decoration-color: #d3d3d3;
  text-decoration-thickness: 5px;
}

#tecnologias .stack {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 30px auto;
  justify-content: center;
}

#tecnologias .stack .tech {
  max-width: 350px;
  padding: 30px;
  margin: 0 5px;
  border-right: 5px;
}

img {
  width: 150px;
  height: 150px;
  transition: all 0.3s ease-in-out;
}

img:hover {
  filter: grayscale(0%);
  transition: all 0.3s ease-in-out;
}

.tech {
  margin-left: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.stack .contenedor {
  display: grid;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 520px) {
  .stack .contenedor {
    grid-template-columns: repeat(2, 50%);
    filter: grayscale(0%);
  }
}
@media screen and (min-width: 728px) {
  .stack .contenedor {
    grid-template-columns: repeat(3, 33%);
  }
}
@media screen and (min-width: 1024px) {
  .stack .contenedor {
    grid-template-columns: repeat(4, 25%);
  }
  .contenedor {
    width: 1024px;
  }
  img {
    width: 150px;
    height: 150px;
    filter: grayscale(100%);
    transition: all 0.3s ease-in-out;
    margin-left: 20px;
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .stack .contenedor {
    grid-template-columns: repeat(5, 20%);
  }
  .contenedor {
    width: 1200px;
  }
  img {
    width: 150px;
    height: 150px;
    filter: grayscale(100%);
    transition: all 0.3s ease-in-out;
  }
}
#contacto {
  padding: 100px 15px;
  background-color: #303040;
}

#contacto .titulo-seccion {
  margin-bottom: 20px;
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: underline;
  text-decoration-color: #d3d3d3;
  text-decoration-thickness: 5px;
}

#contacto .contenedor-form {
  max-width: 1100px;
  margin: auto;
}

#contacto .contenedor-form .fila {
  margin-bottom: 15px;
}

#contacto .contenedor-form .mitad {
  display: flex;
  justify-content: space-between;
}

#contacto .contenedor-form input,
#contacto .contenedor-form textarea {
  padding: 20px;
  border-radius: 20px;
  border: none;
  border: 1px solid #919191;
}

#contacto .contenedor-form .mitad input {
  width: 48%;
}

#contacto .contenedor-form .input-full {
  width: 100%;
}

#contacto .btn-enviar {
  display: block;
  margin: auto;
  cursor: pointer;
  transition: 0.5s;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: bold;
}

#contacto .btn-enviar:hover {
  background-color: #0FFE00;
  color: #242424;
}

html {
  scroll-behavior: smooth;
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 30px 0;
}

/*# sourceMappingURL=style.css.map */
